<h1>Here is your license</h1>
<p>
  <strong>License Number:</strong>
  <%= @license.license_number %>
</p>
<p>
  <strong>Name:</strong>
  <%= @license.name %>
</p>
<p>
  <strong>Date of Birth:</strong>
  <%= @license.date_of_birth %>
</p>
<p>
  <strong>E-mail:</strong>
  <%= @license.email %>
</p>
